@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  /* ## Colors */

  /* ### Primary */

  --Red: rgb(255, 122, 122);
  --Green: rgb(56, 204, 140);

  /* ### Accent */

  --Blue: hsl(248, 32%, 49%);

  /* ### Neutral */

  --Dark-Blue: hsl(249, 10%, 26%) ;
  --Grayish-Blue: rgb(185, 182, 211);  
}

html,
body {
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-shadow-black-op {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px;
}

.my-shadow-green-op {
  box-shadow: rgba(0, 128, 72, 0.6) 0px 4px;
}